body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

div.nav nav ul li a, 
div.logo a {
    text-decoration: none;
    color: black;
    list-style: none;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}
div.header header{
    display: flex; /*Separa um item de cada lado*/
    justify-content: space-between; /*Deixa um para cada canto*/
    flex-wrap: wrap; /*Quando a tela for pequena joga a 2° parte pra baixo*/
    padding: 10px;
    align-items: center;
    background-color: cornflowerblue;
}

div.header header nav ul {
    display: flex; /*deixa um topico do lado do outro*/
    margin-bottom: 0px !important;
}

div.header header nav ul li {
    margin: 0px 10px; 
}

div.header header nav ul li a{
    display: block;
    padding: 10px;
}

div.header header nav ul li a:hover{
    background-color: black;
    color: blanchedalmond;
}