*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url("./photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 1;
}
a.logo-menu {
    font-weight: bold;
    color: #fff; 
}

a.topic-menu {
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    transition: 0.2s;
    border-radius: 5px;

}

a.topic-menu:hover{
    color: black;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3 ;
    transition-delay: 0.2s
}

/*-------------------FINAL TOPO -----------------------*/
/*-------------------INICIO HOME -----------------------*/

div.home-text {
    padding-top: 70px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.home-text h1{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    color: #fff;
}


/*-------------------FIM HOME -----------------------*/



.about-area, .portfolio-area, .services-area, .contact-area {
    position: relative;
    display: flex;
    justify-content: space-around;
    
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.about-area, .services-area {
    background-color: #fefefe;
    color: #262626;
}
.portfolio-area, .contact-area{
    background-color: #262626;
    color: #fefefe;
}

.text-part{
    padding-top: 70px;
    padding-left: 20px;

}
h1 {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    text-align: justify;
    font-size: 24px;
    line-height: 50px;
}

nav.black {
    background: #000;
}
