@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    /* background-color: rgba(128, 128, 128, 0.3) */
}

body {
    background-color: gray !important;
    font: 400 14px Roboto, sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
}
/* Foi colocado abaixo novamente porque os campos não pegam font da Body */
input, button, textarea {
    font: 400 18px Roboto, sans-serif !important;
}

button, a {
    cursor: pointer !important;
}

/* FONT */

@media only screen and (max-width: 400px) {
a{
    font-size: x-small;   
}
div.photos-sub {
    visibility: hidden;
}

h1 {
    font-size: xx-large !important;
}

}


/*  
-----------------------------------------------------------
MENU
-----------------------------------------------------------
*/

#sideNav {
    width: 110px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background-color: gray;
    z-index: 2;
    transition: .5s;
}

nav#sideNav ul {
    padding-top: 30px;
}

nav#sideNav ul li {
    list-style: none;
    margin: 40px 20px;
    display: block;
}

nav#sideNav ul li a {
    text-decoration: none;
    color: black
}

/* ICON */

.menu-icon {
    display: inline-block;
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 10px;
    z-index: 9999;
    background-color: rgba(127, 127, 127, 0.3);
    padding: 5px 5px;
    border-radius: 10px;
  }
  
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 20px;
}
  
  /* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}
  
/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}
  
/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}

/*  
-----------------------------------------------------------
    MENU
-----------------------------------------------------------
*/

/*  
-----------------------------------------------------------
    REDES SOCIAIS
-----------------------------------------------------------
*/

div.redes-sociais {
  position: fixed;
  width: 50px;
  height: 100vh;
  padding: 5px;
  align-items: center;
  padding-left: 12px;
}

div.redes-sociais ul {
  margin: 0;
  padding: 0;
 
}

div.redes-sociais ul li {
  list-style: none;
  margin: 80px 0;
}

div.redes-sociais ul li .fa{
  font-size: 20px;
  line-height: 25px;
  transition: 0.5s;
  color: #262626;
}

div.redes-sociais ul li a {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  background-color:rgba(127, 127, 127, 0.3);
  text-align: center;
  transform: perspective(100px)
  rotate(-25deg) skew(25deg) translate(0,0);
  transition: .5s;
  /* box-shadow: -10px 10px 10px rgba(0, 0, 0, 1); */
}

div.redes-sociais ul li a::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -10px;
  height: 100%;
  width: 10px;
  background: rgba(127, 127, 127, 0.4);
  transform: rotate(0deg) skewY(-45deg);
}

div.redes-sociais ul li a::after {
  content: '';
  position: absolute;
  top: 25px;
  left: -5px;
  height: 10px;
  width: 100%;
  background: rgba(127, 127, 127, 0.4);
  transform: rotate(0deg) skewX(-45deg);
}

div.redes-sociais ul li:hover .fa{
  color: #FFF;
}

div.redes-sociais ul li a:hover{
  transform: perspective(100px) rotate(-30deg) skew(25deg) translate(10px,-10px);
  box-shadow: -5px 5px 5px rgba(160, 0, 0, 0.5);

} 

/* FACE */
div.redes-sociais ul li:hover:nth-child(1) a{
  background: #3b5999;
}

div.redes-sociais ul li:hover:nth-child(1) a:before {
  background: #2e4a86
}
div.redes-sociais ul li:hover:nth-child(1) a:after{
  background: #4a96ad;
}
/* INSTA */
div.redes-sociais ul li:hover:nth-child(2) a{
    background: linear-gradient(#400080,transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
  
div.redes-sociais ul li:hover:nth-child(2) a:before {
    background: linear-gradient(#400080,transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
div.redes-sociais ul li:hover:nth-child(2) a:after{
    background: linear-gradient(#400080,transparent),
    linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}

/* WHATSAPP */
div.redes-sociais ul li:hover:nth-child(3) a{
    background: linear-gradient(#34af23,transparent),
    linear-gradient(200deg, #009607, #419c46, #74fc7f);
}

div.redes-sociais ul li:hover:nth-child(3) a:before {
    background: linear-gradient(#34af23,transparent),
    linear-gradient(200deg, #009607, #419c46, #74fc7f);
}
div.redes-sociais ul li:hover:nth-child(3) a:after{
    background: linear-gradient(#34af23,transparent),
    linear-gradient(200deg, #009607, #419c46, #74fc7f);
}

/* TWITTER */
div.redes-sociais ul li:hover:nth-child(4) a{
  background: #55acee;
}

div.redes-sociais ul li:hover:nth-child(4) a:before {
  background: #4184b2;
}
div.redes-sociais ul li:hover:nth-child(4) a:after{
  background: #4a96ad;
}
/* GOOGLE */
div.redes-sociais ul li:hover:nth-child(5) a{
  background: #dd4b39;
}

div.redes-sociais ul li:hover:nth-child(5) a:before {
  background: #c13929
}
div.redes-sociais ul li:hover:nth-child(5) a:after{
  background: #e83322;
}

/* YOUTUBE */
div.redes-sociais ul li:hover:nth-child(6) a{
  background: #920000;
}

div.redes-sociais ul li:hover:nth-child(6) a:before {
  background: #a03535;
}
div.redes-sociais ul li:hover:nth-child(6) a:after{
  background: #ff5c5c;
}
/*  
-----------------------------------------------------------
  REDES SOCIAIS
-----------------------------------------------------------
*/

/*  
-----------------------------------------------------------
  HOME
-----------------------------------------------------------
*/

div.home {
  background: linear-gradient(rgba(100, 0, 0, 0.3),rgba(100,0,0,0.3)),url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/*  
-----------------------------------------------------------
  HOME
-----------------------------------------------------------
*/

/*  
-----------------------------------------------------------
  ABOUT
-----------------------------------------------------------
*/

div.about-items i {
  font-size: 40px;
  font-weight: 40px;
}


div.about-items div {
  transition: 1s;
}

div.about-items a {
  text-decoration: none;
  color: black;
}
div.about-items h5 {
  font-weight: bold;
}

div.about-items div:hover {
  background: violet !important;
}

/*  
-----------------------------------------------------------
  ABOUT
-----------------------------------------------------------
*/

/*  
-----------------------------------------------------------
  BANNER
-----------------------------------------------------------
*/

/* MODO PARALLAX */
div.banner-2 {
  background: url(../img/banner2.jpg) no-repeat fixed center;
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-size: cover;
}

div.banner-3 {
  background: url(../img/banner3.jpg) no-repeat fixed center;
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-size: cover;
}

div.banner-4 {
  background: url(../img/banner1.jpg) no-repeat fixed center;
  width: 100%;
  height: 20vh;
  background-attachment: fixed;
  background-size: cover;
}
/*  
-----------------------------------------------------------
  BANNER
-----------------------------------------------------------
*/

/*  
-----------------------------------------------------------
    PHOTOS CAROUSEL
-----------------------------------------------------------
*/
/* div.photos a.button {
  color: #aa0000;
  padding: 10px 20px;
  margin: 0px 10px 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  font-family: Pacifico;
  text-shadow: 1px 1px 0px #dddddd;
}

div.photos .roundabout-list { background-color: #fff; }

div.photos .roundabout-list {
  z-index: 9999;
  border: 4px solid white;
  box-shadow:  0 8px 6px -8px black;

  
}

div.photos .slider li img {
  position: relative;
width: 100%;
  z-index: 8888;
} */


#items-wrapper-carousel {
  width: 100%;
}

#items-carousel {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  border: 4px solid white;
  box-shadow:  6px 3px 3px black;
}

.item-carousel {
  flex: none;
  width: 100%;
  height: 80vh;
  scroll-snap-align: start;
  pointer-events: none; 
}

div.item-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*
-----------------------------------------------------------
  PHOTOS CAROUSEL
-----------------------------------------------------------
*/



/*  
-----------------------------------------------------------
TEAM
-----------------------------------------------------------
*/
div.team img{
  height: 50vh;
}

/*  
-----------------------------------------------------------
TEAM
-----------------------------------------------------------
*/