html {
    scroll-behavior: smooth;
}

/*  
-----------------------------------------------------------
    TOPO DA PÁGINA INICIO
-----------------------------------------------------------
*/
div.home {
    background: linear-gradient(rgba(0,0,100,0.5),rgba(0,0,100,0.5)),url("./img/photo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
div.topo {
    z-index: 16;
    
}

div.topo a{
    color: whitesmoke;
    
}

div.topo li a:hover{
    color: crimson;
}


.corTopo {
    background-color: black;
}

img.apagar {
    opacity: 0;
}
/* Para ficar redondo */
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
}

/* Para topo não atrapalhar na visualização mobile e pc */
.home, .about, .photos, .services, .contact, .rodape-main {
    padding-top: 150px;
}
/*  
-----------------------------------------------------------
    TOPO DA PÁGINA FIM
-----------------------------------------------------------
*/

/* -----------------------------PARTE SERVICES ------------------------*/
div.conteudo-services h5 {
    font-size: 14px;
    transition: 1s;
}

div.conteudo-services a {
    text-decoration: none;
    color: blue;
}

div.conteudo-services a:hover{
    color: crimson;
}

div.conteudo-services a h5:hover{
    font-size: 15px;
}












/*  
-----------------------------------------------------------
    RODAPÉ DA PÁGINA INICIO
-----------------------------------------------------------
*/

div.rodape-2 img {
    width: 30px;
    height: 30px;

} 

div.rodape-2 a{
    text-decoration: none;
    color: whitesmoke;
} 

div.rodape-2 div{
    opacity: 50%;
    transition: 1s;
} 

div.rodape-2 div:hover{
    opacity: 100%;
} 

/*  
-----------------------------------------------------------
    RODAPÉ DA PÁGINA FIM
-----------------------------------------------------------
*/